[Unit]
Description=databurg
Wants=network-online.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/databurgd -c /etc/databurg.cnf
ExecStop=/bin/kill -2 $MAINPID
WorkingDirectory=/etc

[Install]
WantedBy=multi-user.target
